.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.text {
  line-height: 1.6;
  color: #333;
}

.grid {
  display: grid;
  gap: 1vh;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: cover;
}

.specialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

.specialLabel {
  font-weight: bold;
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  .section {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }
}