.title {
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #831FCB;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}