.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.action {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.75rem;
}

.smallText {
    text-align: end;
  font-size: 0.9rem;
  color: #666;
}

@media (max-width: 768px) {
  .section {
    display: inline;
    padding: 2rem;
    gap: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }
}